@use 'base/variables' as v;
@use 'base/mixins' as m;


.no-projects{
    a{
        color: v.$azulOscuro;
    }
}

.projects-list{
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1,2rem);

    @include m.tablet{
        @include m.grid(2,2rem);
    }

    @include m.desktop{
        @include m.grid(3,2rem);
    }

    .project{
        background-color:lighten(v.$azulOscuro, 5%) ;
        border-radius: 1rem;
        min-height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        line-height: 2;

        &:hover{
            background-color: darken(v.$azulOscuro, 10%);
        }

        a{
            color: v.$blanco;
        }
    }
}