@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-nueva-tarea{
    display: flex;
    justify-content: center;


    .add-task{
        @include m.boton(v.$azulOscuro, v.$blanco);
        
        &:hover{
            background-color: lighten(v.$azulOscuro, 10%);
        }
    }
}